{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode gzip

	@api path /api/*
	handle @api {
		reverse_proxy api:3000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	header {
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		-Server
	}
}
